:root {
  --clr1: #606060;
  --clr2: #ffffff;
  --clr3: #292929;
  --clr4: #58C93A;
  --clr5: #4F4E4E;
  --clr6: #C2C1C1;
  --clr7: #818181;
  --clr8: #E1E0E0;
  --clr9: #F8F8F8;
  --clr10: #A6A6A6;
  --clr11: #939292;
  --clr12: #E5E5E5;
}
