.dropdown-content{
    display: none;
}

.dropdown .dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: -50px;
} 






























/* a.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 132px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown .dropdown-content:hover {
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
} */

